<%= form_tag(random_rate_path(:event => params[:event]), {method: :get}) do %>
  <div class="row text-center">
    <% if params[:event] %>
      <h3><%= params[:event] %></h3>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-5 sidebar">
      <div class="row">
        <div class="row well hotel" style="width: 500px; height: 700px">
          <div class="col-md-12 abt-left">
            <% if @hotel1.hotel_pictures && @hotel1.hotel_pictures.first %>
              <%= image_tag @hotel1.hotel_pictures.first.picture.url, alt: @hotel1.name, class:"img-bn", style:"height: 500px" %>
            <% else %>
              <%= image_tag "fukusou.jpg", alt: @hotel1.name, class:"img-bn", style:"height: 500px" %>
            <% end %>
          </div>
          <div class="col-sm-12">
            <br>
            <h4><%= link_to @hotel1.name, hotel_path(@hotel1.id) %></h4>
            <span style="color: #18bc9c">イベント：</span>
            <% if @hotel1.wifi %>
              <span>&nbsp;結婚式</span>
            <% end %> 
            <% if @hotel1.parking %>
              <span>&nbsp;デート</span>
            <% end %> 
            <% if @hotel1.breakfast %>
              <span>&nbsp;旅行</span>
            <% end %>
            <% if @hotel1.pool %>
              <span>&nbsp;パーティー</span>
            <% end %>
            <br>
            <% if @hotel1.gender == true %>
              <span style="color: #18bc9c">性：</span> 男
            <% end %>
            <% if @hotel1.gender == false %>
              <span style="color: #18bc9c">性：</span> 女
            <% end %>
            <br>

            <% if @hotel1.skin_color == "whites" %>
              <span style="color: #18bc9c">肌色：</span> 白
            <% end %>
            <% if @hotel1.skin_color == "yellows" %>
              <span style="color: #18bc9c">肌色：</span> 黄
            <% end %>
            <% if @hotel1.skin_color == "blacks" %>
              <span style="color: #18bc9c">肌色：</span> 黒
            <% end %>
            <br>

            <% if @hotel1.hair_color == "white" %>
              <span style="color: #18bc9c">髪色：</span> 白
            <% end %>
            <% if @hotel1.hair_color == "yellow" %>
              <span style="color: #18bc9c">髪色：</span> 黄
            <% end %>
            <% if @hotel1.hair_color == "black" %>
              <span style="color: #18bc9c">髪色：</span> 黒
            <% end %>
            <% if @hotel1.hair_color == "moss_green" %>
              <span style="color: #18bc9c">髪色：</span> モスグリーン
            <% end %>
          </div>
          <div class="col-md-12 text-center">
            <%= radio_button_tag 'rate_id', @hotel1.id %> &nbsp; <%= @hotel1.name %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1" >
    </div>
    <div class="col-sm-5 sidebar">
      <div class="row">
        <div class="row well hotel" style="width: 500px; height: 700px">
          <div class="col-md-12 abt-left">
            <% if @hotel2.hotel_pictures && @hotel2.hotel_pictures.first %>
              <%= image_tag @hotel2.hotel_pictures.first.picture.url, alt: @hotel2.name, class:"img-bn", style:"height: 500px" %>
            <% else %>
              <%= image_tag "fukusou.jpg", alt: @hotel2.name, class:"img-bn", style:"height: 500px" %>
            <% end %>
          </div>
          <div class="col-sm-12">
            <br>
            <h4><%= link_to @hotel2.name, hotel_path(@hotel2.id) %></h4>
            <span style="color: #18bc9c">イベント：</span>
            <% if @hotel2.wifi %>
              <span>&nbsp;結婚式</span>
            <% end %> 
            <% if @hotel2.parking %>
              <span>&nbsp;デート</span>
            <% end %> 
            <% if @hotel2.breakfast %>
              <span>&nbsp;旅行</span>
            <% end %>
            <% if @hotel2.pool %>
              <span>&nbsp;パーティー</span>
            <% end %>
            <br>
            <% if @hotel2.gender == true %>
              <span style="color: #18bc9c">性：</span> 男
            <% end %>
            <% if @hotel2.gender == false %>
              <span style="color: #18bc9c">性：</span> 女
            <% end %>
            <br>

            <% if @hotel2.skin_color == "whites" %>
              <span style="color: #18bc9c">肌色：</span> 白
            <% end %>
            <% if @hotel2.skin_color == "yellows" %>
              <span style="color: #18bc9c">肌色：</span> 黄
            <% end %>
            <% if @hotel2.skin_color == "blacks" %>
              <span style="color: #18bc9c">肌色：</span> 黒
            <% end %>
            <br>

            <% if @hotel2.hair_color == "white" %>
              <span style="color: #18bc9c">髪色：</span> 白
            <% end %>
            <% if @hotel2.hair_color == "yellow" %>
              <span style="color: #18bc9c">髪色：</span> 黄
            <% end %>
            <% if @hotel2.hair_color == "black" %>
              <span style="color: #18bc9c">髪色：</span> 黒
            <% end %>
            <% if @hotel2.hair_color == "moss_green" %>
              <span style="color: #18bc9c">髪色：</span> モスグリーン
            <% end %>
          </div>
          <div class="col-md-12 text-center">
            <%= radio_button_tag 'rate_id', @hotel2.id %> &nbsp; <%= @hotel2.name %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row sidebar text-center">
    <%= radio_button_tag('select_id', [@hotel1.id, @hotel2.id], checked = true, style:"display: none;") %>
    <%= radio_button_tag('event', params[:event], checked = true, style:"display: none;") %>
    <%= submit_tag "選ぶ", class: "btn btn-primary" %>
    <%= submit_tag "次へ", class: "btn btn-primary" %>
  </div>
  <br>
  <div class="row sidebar text-center">
  </div>
<% end %>
