<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-bottom: 0em" style="width:100%; height: 450px">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag "banner.png",alt:"", style:"width:100%; height: 450px" %>
			<div class="carousel-caption">
				<h3>ファッション</h3>
				<p>適切な服を見つけるのは簡単です</p>
			</div>
		</div>

		<div class="item">
			<%= image_tag "banner-2.jpg",alt:"", style:"width:100%; height: 450px" %>
			<div class="carousel-caption">
				<h3>イベント</h3>
				<p>適切な服をすばやく見つける</p>
			</div>
		</div>
	
		<div class="item">
			<%= image_tag "banner-3.png",alt:"", style:"width:100%; height: 450px" %>
			<div class="carousel-caption">
				<h3>ファッション</h3>
				<p>適切な服を見つけるのは簡単です</p>
			</div>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-12 about-left">
					<div class="about-tre head-bt">

					<div class="col-md-12 about-left">
						<div class="about-tre head-bt">
							<%
=begin%>
 <a href="#"><button class="btn-gt">イベントにうってつけの服装</button></a> 
<%
=end%>
								<div class="a-1 r-bn">
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&wifi=1&commit=フィルター"><%= image_tag "cuoi-2.jpg",alt:"", class:"img-bn home_img", style:"max-width:100%;max-height:100%;width:auto;height:400px;display:block;margin-left:auto;margin-right:auto" %></a>
										<div style="text-align: center;">
										<h3><a href="/recommends?utf8=✓&wifi=1&commit=フィルター">結婚式</a></h3>
										</div>
									</div>
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&breakfast=1&commit=フィルター"><%= image_tag "party-2.jpg",alt:"", class:"img-bn", style:"max-width:100%;max-height:100%;width:auto;height:400px;display:block;margin-left:auto;margin-right:auto" %></a>
										<div style="text-align: center;">
										<h3><a href="/recommends?utf8=✓&breakfast=1&commit=フィルター">パーティー</a></h3>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<br><br>
								<div class="a-1 r-bn">
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&pool=1&commit=フィルター"><%= image_tag "date.jpg",alt:"", class:"img-bn", style:"max-width:100%;max-height:100%;width:auto;height:400px;display:block;margin-left:auto;margin-right:auto" %></a>
										<div style="text-align: center;">
										<h3><a href="/recommends?utf8=✓&pool=1&commit=フィルター">デート</a></h3>
										</div>
									</div>
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&parking=1&commit=フィルター"><%= image_tag "dulich.jpg",alt:"", class:"img-bn", style:"max-width:100%;max-height:100%;width:auto;height:400px;display:block;margin-left:auto;margin-right:auto" %></a>
										<div style="text-align: center;">
										<h3><a href="/recommends?utf8=✓&parking=1&commit=フィルター">旅行</a></h3>
										<div>
									</div>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
		</div>
	</div>
	<!--about-end-->
	<!--slide-starts-->
	<div class="slide">
		<div class="container">
			<div class="fle-xsel">
			<ul id="flexiselDemo3">
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h7.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h8.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h9.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h10.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h3.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h2.jpg", class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
			</ul>

							 <script type="text/javascript">
								$(window).load(function() {

									$("#flexiselDemo3").flexisel({
										visibleItems: 5,
										animationSpeed: 1000,
										autoPlay: true,
										autoPlaySpeed: 3000,
										pauseOnHover: true,
										enableResponsiveBreakpoints: true,
										responsiveBreakpoints: {
											portrait: {
												changePoint:480,
												visibleItems: 2
											},
											landscape: {
												changePoint:640,
												visibleItems: 3
											},
											tablet: {
												changePoint:768,
												visibleItems: 3
											}
										}
									});

								});
								</script>
								<%= javascript_include_tag 'jquery.flexisel.js', type: "text/javascript"%>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--slide-end-->
