<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-12 about-left">
					<div class="about-tre head-bt">

					<div class="col-md-12 about-left">
						<div class="about-tre head-bt">
							<a href="#"><button class="btn-gt">イベントにうってつけの服装</button></a>
								<div class="a-1 r-bn">
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&wifi=1&commit=フィルター"><%= image_tag "cuoi.jpg",alt:"", class:"img-bn" %></a>
										<h3><a href="/recommends?utf8=✓&wifi=1&commit=フィルター">結婚式</a></h3>
									</div>
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&breakfast=1&commit=フィルター"><%= image_tag "party.jpg",alt:"", class:"img-bn" %></a>
										<h3><a href="/recommends?utf8=✓&breakfast=1&commit=フィルター">パーティー</a></h3>
									</div>
									<div class="clearfix"></div>
								</div>
								<br><br>
								<div class="a-1 r-bn">
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&pool=1&commit=フィルター"><%= image_tag "henho.jpg",alt:"", class:"img-bn" %></a>
										<h3><a href="/recommends?utf8=✓&pool=1&commit=フィルター">デート</a></h3>
									</div>
									<div class="col-md-6 abt-left">
										<a href="/recommends?utf8=✓&parking=1&commit=フィルター"><%= image_tag "dulich.jpg",alt:"", class:"img-bn" %></a>
										<h3><a href="/recommends?utf8=✓&parking=1&commit=フィルター">旅行</a></h3>
									</div>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
		</div>
	</div>
	<!--about-end-->
	<!--slide-starts-->
	<div class="slide">
		<div class="container">
			<div class="fle-xsel">
			<ul id="flexiselDemo3">
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h7.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h8.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h9.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h10.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h3.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h2.jpg", class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
			</ul>

							 <script type="text/javascript">
								$(window).load(function() {

									$("#flexiselDemo3").flexisel({
										visibleItems: 5,
										animationSpeed: 1000,
										autoPlay: true,
										autoPlaySpeed: 3000,
										pauseOnHover: true,
										enableResponsiveBreakpoints: true,
										responsiveBreakpoints: {
											portrait: {
												changePoint:480,
												visibleItems: 2
											},
											landscape: {
												changePoint:640,
												visibleItems: 3
											},
											tablet: {
												changePoint:768,
												visibleItems: 3
											}
										}
									});

								});
								</script>
								<%= javascript_include_tag 'jquery.flexisel.js', type: "text/javascript"%>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--slide-end-->
