<div class="field">
  <%= form_for @review do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label :title, t("review_title") %>
    <%= f.text_field :title, class: "form-control" %>
    <br>
    <%= f.label :content, t("content") %>
    <%= f.text_area :content, rows: 10, class: "form-control" %>
    <br>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>
