<div class="row">
  <div class="col-sm-3 sidebar">
    <div class="row">
      <div>
        <h2>イベントと性</h2>
        <%= form_tag 'recommends', method: :get do %>
          <div class="list-group">
            <p class="list-group-item">
              <%= check_box_tag 'wifi' %>&nbsp; 結婚式
            </p>
            <p class="list-group-item">
              <%= check_box_tag 'breakfast' %>&nbsp; パーティー
            </p>
            <p class="list-group-item">
              <%= check_box_tag 'pool' %>&nbsp; デート
            </p>
            <p class="list-group-item">
              <%= check_box_tag 'parking' %>&nbsp; 旅行
            </p>
            <p class="list-group-item">
              <%= radio_button_tag 'gender', true %> &nbsp; 男
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= radio_button_tag 'gender', false %> &nbsp; 女
            </p>
            <p class="list-group-item">
              肌の色：<br>
              <%= radio_button_tag 'skin_color', "whites" %> 白 &nbsp;&nbsp;
              <%= radio_button_tag 'skin_color', "yellows" %> 黄 &nbsp;&nbsp;
              <%= radio_button_tag 'skin_color', "blacks" %> 黒 &nbsp;&nbsp;
            </p>
            <p class="list-group-item">
              髪の色：<br>
              <%= radio_button_tag 'hair_color', "white" %> 白 &nbsp;&nbsp;
              <%= radio_button_tag 'hair_color', "yellow" %> 黄 &nbsp;&nbsp;
              <%= radio_button_tag 'hair_color', "black" %> 黒 &nbsp;&nbsp;
              <%= radio_button_tag 'hair_color', "moss_green" %> モスグリーン
            </p>
          </div>
          <% if false %>
            <h2>使用した人の評価</h2>
            <div class="list-group">
              <% 5.times do |i| %>
                <button type="button" class="btn btn-grey btn-sm" id="star<%= i %>" aria-label="Left Align" onClick="handleStar(<%= i+1 %>)">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
              <% end %>
              <%= text_field_tag "star", nil, maxlength: 1, class: "dhidden" %>
            </div>
          <% end %>
          <%= submit_tag "フィルター", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @keyword && @hotels.present? %>
    <h2 class="text-center"><span>名前で検索する結果</span><span style="color: green"> "<%= @keyword %>"</span></h2>
  <% end %>
  <div class="col-sm-8 info" >
    <% if @keyword && @hotels.blank? && @hotels2.blank? %>
      <h2 class="text-center"><span>結果がない </span><span style="color: green"> "<%= @keyword %>"</span></h2>
    <% end %>
    <div class="row">
      <ul class="pager">
        <%= paginate @hotels, params: { star: params[:star], commit: 'フィルター' } %>
      </ul>
    </div>
    <% @hotels.each do |hotel| %>
      <div>
        <div class="row well hotel">
          <div class="col-md-7 abt-left">
            <% if hotel.hotel_pictures.first %>
              <%= image_tag hotel.hotel_pictures.first.picture.url, alt: hotel.name, class:"img-bn image-custom" %>
            <% end %>
          </div>
            <div class="col-sm-5 hotel-information">
              <h4><%= link_to hotel.name, hotel_path(hotel.id) %></h4>
              <span style="color: #18bc9c">イベント：</span>
              <% if hotel.wifi %>
                <span>&nbsp;結婚式</span>
              <% end %> 
              <% if hotel.parking %>
                <span>&nbsp;デート</span>
              <% end %> 
              <% if hotel.breakfast %>
                <span>&nbsp;旅行</span>
              <% end %>
              <% if hotel.pool %>
                <span>&nbsp;パーティー</span>
              <% end %>
              <br>
              <% if hotel.gender == true %>
                <span style="color: #18bc9c">性：</span> 男
              <% end %>
              <% if hotel.gender == false %>
                <span style="color: #18bc9c">性：</span> 女
              <% end %>
              <br>

              <% if hotel.skin_color == "whites" %>
                <span style="color: #18bc9c">肌の色：</span> 白
              <% end %>
              <% if hotel.skin_color == "yellows" %>
                <span style="color: #18bc9c">肌の色：</span> 黄
              <% end %>
              <% if hotel.skin_color == "blacks" %>
                <span style="color: #18bc9c">肌の色：</span> 黒
              <% end %>
              <br>

              <% if hotel.hair_color == "white" %>
                <span style="color: #18bc9c">肌の色：</span> 白
              <% end %>
              <% if hotel.hair_color == "yellow" %>
                <span style="color: #18bc9c">肌の色：</span> 黄
              <% end %>
              <% if hotel.hair_color == "black" %>
                <span style="color: #18bc9c">肌の色：</span> 黒
              <% end %>
              <% if hotel.hair_color == "moss_green" %>
                <span style="color: #18bc9c">肌の色：</span> モスグリーン
              <% end %>

              <div class="rating-block">
                <% if hotel.average("quality") %>
                  <div style="font-size: 24px">
                    <i class="fas fa-heart" style="color:red"></i>
                    <span><%= 10*2*hotel.average("quality").avg.round(3) %>%</span>
                  </div>
                  <%
=begin%>
 <div style="font-size: 18px">
                    <i class="fas fa-thumbs-up" style="color:green;"></i>
                    <span><%= hotel.rates("quality").group(:stars).count[5] %></span>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <i class="fas fa-thumbs-down" style="color:green;"></i>
                    <span><%= hotel.rates("quality").group(:stars).count[1] %></span>
                  </div> 
<%
=end%>
                  <h4>
                    レート人数：<%= hotel.rates("quality").count %>
                  </h4>
                <% else %>
                  <h4>
                    レート人数：0
                  </h4>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <ul class="pager">
        <%= paginate @hotels, params: { star: params[:star], commit: 'フィルター' } %>
      </ul>
    </div>
  </div>
  <div class="col-sm-3 sidebar">
  </div>
  <% if @keyword && @hotels2.present? %>

    <div class="col-sm-8 info" >
      <h2 class="text-center"><span>住所で検索する結果</span><span style="color: green"> "<%= @keyword %>"</span></h2>
      <div class="row">
        <ul class="pager">
          <%= paginate @hotels2, params: { star: params[:star], commit: 'フィルター' } %>
        </ul>
      </div>
      <% @hotels2.each do |hotel| %>
        <div class="row well hotel">
          <div class="col-md-7 abt-left">
            <%= image_tag hotel.hotel_pictures.first.picture.url, alt: hotel.name, class:"img-bn" %>
          </div>
          <div class="col-sm-5 hotel-information">
            <h4><%= link_to hotel.name, hotel_path(hotel.id) %></h4>
            <p><%= hotel.address %></p>
            <p><%= link_to "詳細を見る", hotel_path(hotel.id) %></p>
            <% if hotel.average("quality") %>
            <div class="rating-block">
              <h4>
                レーティング: <span style="color: red;"><bold><%= hotel.average("quality").avg.round(1) %></bold></span>
                (<%= hotel.rates("quality").count %> 回)
              </h4>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <ul class="pager">
          <%= paginate @hotels2, params: { star: params[:star], commit: 'フィルター' } %>
        </ul>
      </div>
    </div>
  <% end %>

</div>
